* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 10px;
}

/* Título Principal */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

/* Categoría de Imágenes */
.category-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}

.category-item {
    text-align: center;
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
}

.category-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.category-item h2 {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Artículos */
main {
    margin-top: 20px;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-container img {
    width: 35%;
    height: auto;
    border-radius: 10px;
}

.article-content {
    padding: 10px;
    flex: 1;
}

.article-content h2 {
    margin-bottom: 10px;
}

.article-content p {
    text-align: justify;
}

/* Responsive Design */
@media (max-width: 828px) {
    .category-item {
        flex: 1 1 calc(50% - 20px);
    }

    .article-container {
        flex-direction: column;
    }

    .article-container img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .category-item {
        flex: 1 1 100%;
    }
}

